.header {
    color: #22223b;
    text-align: center;
    font-size: 40px;
}
.balance h1{
    font-size: 55px;
}
.balance {
     
    text-align: center;
    margin: 0 auto;
    width: 600px;
    height: 300px;
   background-color: blue;
}


.income {
background-color: red;
width: 300px;
float: right;
position: relative;
top: 60px;
}

.income h3 , .expense h3{
    font-size: 30px;
}
.expense {
    background-color: red;
    color: #9a8c98;
    width: 300px;
    float: left;
    position: relative;
    top: 60px;   
}

.add {
    background-color: pink;
    margin:auto;
    width: 400px;
    height: 300px;
    text-align: right;
    font-size: 20px;
}

.amounts-container {
    background-color: darkcyan;
    width: 800px
}