.home-icon::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url('/Users/nmenchaca/Downloads/home_FILL0_wght400_GRAD0_opsz24%20(1).svg');
    background-size: contain;
    margin-right: 5px;
    vertical-align: middle;
}

.login-icon::before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        background-image: url('/Users/nmenchaca/Downloads/passkey_FILL0_wght400_GRAD0_opsz24.svg');
        background-size: contain;
        margin-right: 5px;
        vertical-align: middle;
        
}


.signup-icon::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url('/Users/nmenchaca/Downloads/edit_note_FILL0_wght400_GRAD0_opsz24.svg');
    background-size: contain;
    margin-right: 5px;
    vertical-align: middle;
     }