.home-icon::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url('./home.png');
    background-size: contain;
    margin-right: 5px;
    vertical-align: middle;
}

.login-icon::before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        background-image: url('./login.png');
        background-size: contain;
        margin-right: 5px;
        vertical-align: middle;
        
}


.signup-icon::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url('./signup.png');
    background-size: contain;
    margin-right: 5px;
    vertical-align: middle;
     }