.pie-chart {
    /* background-color: black; */
    width: 400px;
    height: 400px;
    margin: auto;
    text-align: center;
    font-weight: 100;
    color: black;

}

.pie-data {
    /* background-color: cadetblue; */
    border-radius: 50%;
    box-shadow: 1 1 10px rgba(0, 0, 0, 0.2);
}