.header {
    color: #22223b;
    text-align: center;
    font-size: 40px;
}
.balance h1{
    font-size: 55px;
}
.balance {
     
    text-align: center;
    margin: 0 auto;
    width: 600px;
    height: 300px;
   background-color: blue;
}


.income {
background-color: red;
width: 300px;
float: right;
position: relative;
top: 60px;
}

.income h3 , .expense h3{
    font-size: 30px;
}
.expense {
    background-color: red;
    color: #9a8c98;
    width: 300px;
    float: left;
    position: relative;
    top: 60px;   
}

.amounts{
    background-color: blue;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    margin-top: 5px;
}

.add-new{
    background-color: brown;
    width:30%;
    height: 70%;
    margin-top: 5%;
}

.transactions{
    background-color: white;
    width:70%;
    height: 70%;
    margin-top: 5%;
}

.transactions{
    float: right;
}

.add-new{
    float: left;
}

.submit {
    margin-left: 15%;
    background-color: #9a8c98;
}

.h1-1, .h1-2{
    text-align: center;
}


.form{
    font-size: 25px;
    margin: 0 auto;
    width: 70%;
    height: 80%;

    
}

.form h4{
    margin-top: 40px;
}

.summary{
    background-color: coral;
    width: 100%;
    height: 77%;
}

.row{
    background-color: cyan;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}


.row h3{
    margin: 0;
}