.form {
    background-color:antiquewhite;
    width: 50%;
    height: 50vh;
    margin: 0 auto;
    box-shadow: 2px 2px 4px 4px;
}

h1 {
    text-align: center;
 
}

button{
    position: relative;
    left: 45%;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 100;
  font-size: 40px;
}
